body {
    font-family: Arial, sans-serif;
    background-color:antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

/* Modes Selection Styles */
#Modes {

    color: #000; /* Header text color */
    text-align: center;
    padding: 20px;
   
}
#Modes h1 {
    font-size: 30px;
    
}
#Modes h2 {
    margin: 0; /* Remove default margin */
    padding: 10px;
    
    color: brown; /* Text color */
    border-radius: 5px;
    margin-right: 10px; /* Optional spacing between headings */
}

p.Modes-btn {
   
    
    padding: 10px 10px;
    margin: 5px;
    font-size: 15px;
    color: black;
    display: flex;
    background-color: wheat;
    border: 2px solid #000; /* Black border */
     border-radius: 45px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: center;
    
}

.Modes-btn:hover {
    background-color:black;
    color: #fff;
}

.playPage {
    text-align: center;
    display: flex;
}

.piles {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.piles p{
    font-weight: bold;
    font-size: 24px;
}
.stone {
    background-color:antiquewhite;
    border-radius: 10px 10px 0 0;
    width: 10px;
    height: 50px;
    margin: 2.5px 10px;
    position: relative;
}

.stone::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}

h1 {
    
    margin-top: 20px;
    color: #333;
    font-size: 30px;
}

#playingTurn {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    background-color:brown;
    color: #fff;
    padding: 10px 20px;
     border-radius: 8px;
     display: inline-block;
    transition: background-color 0.3s;
   
}
.userbutton{
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    color: #000;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s;
    
  }
  #reset{
    margin-left: 130px;
    background-color: grey; 
    font-weight: bold;
}
li h2 {
    margin: 0;
  }